.mainpage{

  width: 100%;

}
.naslovaktivnost {
  font-size: 1.2em;
  color: #535252;
  text-align-last: center;
}
.header{

  width: 95%;
  height: 18em;
  padding: 0px;
  margin: 0px;
  margin-left: 2.5%;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
  border-radius: 1em;
  position: relative;
  box-shadow: 5px 4px #7e7d7d;

}

.logo{
  height: 23em;
  width: 25em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
  
}

.body{

  width: 95%;
  min-height: 40em;
  padding: 0px;
  margin: 0px;
  margin-left: 2.5%;
  margin-top:2em;
  
  border-radius: 1em;
  position: relative;
  box-shadow: 5px 4px #7e7d7d;
  border: solid 2px #7e7d7d;
  margin-bottom: 3em;
 
}

.navbar{
  width: 100%;
  background-color: #ffffff;
  padding: 0.5em;
  margin: 0px;
  
}

.textlink{
  font-size: 1.3em;
  color: #7e7e7e;
  padding: 0.5em;
  margin: 0px;
 
}

.naslov{

  font-size: 2em;
  color: #535252;
  padding: 0.5em;
  margin: 0px;
  margin-left: 2.5%;
  margin-top:0.3em;
  width: 95%;

}

.loginforma{
  height: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  margin-top:15em;
  
}

.submit{
  width: 40%;
  margin-left: 30%;
  margin-top:1em;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
}

.submittable {
  width: 80%;
  margin-left: 10%;
  margin-top:1em;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
}

.submit:hover, .unoS:hover, .submittable:hover, .pregled:hover, .submittableBigger:hover{
  color:#131111;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #face08;
}

.submittableBigger {
  width: 98%;
  margin-left: 0.05em;
  margin-top:1em;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
}

.prijavaforma{
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  margin-top:18em;
  
}

.prijavaformaadmin{

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  margin-top:20em;

}

.forma{
  height: 30%;
  position: relative;
  margin-left: 10%;
  width: 20em;
  
}

.button1{
  position: relative;
  margin-left: 10%;
  width: 20em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
}

.button1:hover{
  color:#131111;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #face08;
}

.table {
  margin: 0;
  align-items: center;
}
.listaProizvodnjaForma{
  width: 20em;
  margin-left:8em;
  margin-top: 4em;
}

.proizvodnjaForma, .prikazUnosa{
  width: 20%;
  margin-left:18em;
  margin-top: 4em;
  }
  
.biljka{

  width: 80%;
  margin-left: 5%
 
}

.unoS{
  width: 10%;
  margin-left: 45%;
  margin-top: 1em;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
}

.pregled{
  width: 30%;
  margin-left: 5%;
  margin-top: 1em;
  border:0px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1em;
  color:#face08;
  background-image: url("./hexellence.png");
  background-repeat: repeat;
  background-color: #131111;
}

.ispis{
  margin:5%;
  margin-left: 10%;
}

.opis{
  margin: 5%;
  color: #535252;
  padding: 0.5em;
  font-size: 1.5em;
}